.list-title {

    margin-left: 400px;
    margin-top: 50px;
}
.phone-detail{
    margin-left: 100px;
    margin-top: 50px;
}
.phone-detail2{
     margin-left: 140px;
    margin-top: 50px;

}
.search{
    margin-left: 140px;
    margin-top: 50px;

}
.search2{
    margin-left: 180px;
    margin-top: 50px;

}
.searched{
    margin-left: 140px;
    margin-top: 50px;

}
.searched2{
    margin-left: 180px;
    margin-top: 50px;

}