{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <h1 class="searched">Searched Number: </h1>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body class="body" style="background-color: #f6f6f6">
<div>
<ul>
  {% for i in object_list %}
    <li>
      <h3 class="searched2">{{ i.name }}</h3>
        <h3 class="searched2">{{ i.number }}</h3>
    </li>
  {% endfor %}
</ul>
</div>
</body>
</html>